<section class="uza-contact-area section-padding-80">
  <div class="container">
    <div class="row justify-content-between">
      <!-- Contact Form -->
      <div class="col-12 col-lg-12">
        <div class="uza-contact-form mb-80">
          <form>
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <input [(ngModel)]="user.email"
                         type="email" class="form-control mb-30" name="email" placeholder="Email">
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <input [(ngModel)]="user.password"
                         type="password" class="form-control mb-30" name="password" placeholder="Password">
                </div>
              </div>
              <div class="col-12">
                <button class="btn uza-btn btn-3 mt-15" (click)="onLogin()">Login</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
