
<div class="justify-content-between container" style="text-align: center">
 <div class="row">
   <div style="display: inline" class="col-lg-6">
     <h5>
       Reporter
     </h5>
     <p>
       As a reporter, you can post reports and manage them, follow up with your reports,
       new activities and new advocates assigned to your case.<br><br>
     </p>
     <a href="javascript:void(0)" routerLink="/register/reporter" class="btn uza-btn">New Reporter</a>
   </div>

   <div style="display: inline" class="col-lg-6" >
     <h5>
      Advocate
     </h5>
     <p>
       As an advocate, you choose to offer various services to victims of child injustice, you can offer advisory services,
       follow up cases or take up cases. You can also offer to be a translator.
     </p>
     <a href="javascript:void(0)" routerLink="/register/advocate" class="btn uza-btn">New Advocate</a>
   </div>
 </div>
</div>
