<section class="uza-contact-area section-padding-80">
  <div class="container">
      <div class="row justify-content-between">
          <!-- Contact Form -->
          <div class="col-12 col-lg-8">
              <div class="uza-contact-form mb-80">
                  <form action="#" method="post">
                      <div class="row">
                          <div class="col-lg-6">
                              <div class="form-group">
                                  <input [(ngModel)]="advocate.name" 
                                    type="text" class="form-control mb-30" name="full-name" placeholder="Name">
                              </div>
                          </div>
                          <div class="col-lg-6">
                              <div class="form-group">
                                  <input type="email" class="form-control mb-30" name="email" placeholder="Email">
                              </div>
                          </div>
                          <div class="col-lg-6">
                              <div class="form-group">
                                  <input type="text" class="form-control mb-30" name="full-name" placeholder="Phone">
                              </div>
                          </div>
                          <div class="col-lg-12">
                              <div class="form-group">
                                  <input type="text" class="form-control mb-30" name="address" placeholder="Address">
                              </div>
                          </div>
                          <div class="col-12">
                              <div class="form-group">
                                  <textarea class="form-control mb-30" name="description" rows="8" cols="80" placeholder="About (Tell us more about yourself)"></textarea>
                              </div>
                          </div>
                          <div class="col-12">
                              <button class="btn uza-btn btn-3 mt-15">Register</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</section>