
<!-- ***** Breadcrumb Area Start ***** -->
<div class="breadcrumb-area">
  <div class="container h-100">
    <div class="row h-100 align-items-end">
      <div class="col-12">
        <div class="breadcumb--con">
          <h2 class="title">{{path}}</h2>
        </div>
      </div>
    </div>
  </div>

  <!-- Background Curve -->
  <div class="breadcrumb-bg-curve">
    <img src="../../assets/img/core-img/curve-5.png" alt="">
  </div>
</div>

<header class="header-area">
  <!-- Main Header Start -->
  <div class="main-header-area">
    <div class="classy-nav-container breakpoint-off">
      <!-- Classy Menu -->
      <nav class="classy-navbar justify-content-between" id="uzaNav">

        <!-- Logo -->
        <a class="nav-brand" href="javascript:void(0)" routerLink="/"><img src="../../assets/img/core-img/logo.png" alt=""></a>

        <!-- Navbar Toggler -->
        <div class="classy-navbar-toggler">
          <span class="navbarToggler"><span></span><span></span><span></span></span>
        </div>

        <!-- Menu -->
        <div class="classy-menu">
          <!-- Menu Close Button -->
          <div class="classycloseIcon">
            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
          </div>

          <!-- Nav Start -->
          <div class="classynav">
            <ul id="nav">
              <li class="current-item"><a href="javascript:void(0)" routerLink="/">Home</a></li>
              <li><a href="#stories">Success Stories</a></li> <!--Todo: Smooth Scroll-->
              <li><a href="#rights">My Rights!</a></li> <!--Todo: Smooth Scroll-->
            </ul>

            <!-- Make a Report -->
            <div class="get-a-quote ml-4 mr-3">
              <a href="javascript:void(0)" routerLink="/reporter/new/report" class="btn uza-btn">Make A Report</a>
            </div>

            <!-- Login / Register -->
            <div class="login-register-btn mx-3">
              <a href="javascript:void(0)" routerLink="/login">Login</a>
              <a class="ml-15" href="javascript:void(0)" routerLink="/register">Register</a>
            </div>

          </div>
          <!-- Nav End -->

        </div>
      </nav>
    </div>
  </div>
</header>

<router-outlet></router-outlet>
