<div>
  <section class="uza-about-us-area">
    <div class="container">
      <div class="row align-items-center">

        <!-- About Thumbnail -->
        <div class="col-12 col-md-6">
          <div class="about-us-thumbnail mb-80">
            <img src="../../../assets/img/bg-img/2.jpg" alt="">
          </div>
        </div>

        <!-- About Us Content -->
        <div class="col-12 col-md-6">
          <div class="about-us-content mb-80">
            <h2>We fight for child rights!</h2>
            <p>We try to ensure that children in conflict with the law are offered appropriate services,
              and that they are offered care and assistance with reintegration into the community.</p>
            <a href="#" class="btn uza-btn btn-2 mt-4">Start Exploring</a>
          </div>
        </div>
      </div>
    </div>

    <!-- About Background Pattern -->
    <div class="about-bg-pattern">
      <img src="../../../assets/img/core-img/curve-2.png" alt="">
    </div>
  </section>



  <!-- ***** Services Area Start ***** -->
  <section class="uza-services-area section-padding-80-0">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>What We Do!</h2>
          </div>
        </div>
      </div>

      <div class="row">

        <!-- Single Service Area -->
        <div class="col-12 col-lg-4">
          <div class="single-service-area mb-80">
            <!-- Service Icon -->
            <div class="service-icon">
              <i class="icon_cone_alt"></i>
            </div>
            <h5>Advisory Services</h5>
            <p>With our wide repository of justice advocates, we offer <span>FREE</span> advisory services to those who find themselves
              in conflict with the law.
            </p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-lg-4">
          <div class="single-service-area mb-80">
            <!-- Service Icon -->
            <div class="service-icon">
              <i class="icon_piechart"></i>
            </div>
            <h5>Translations </h5>
            <p>Ever find yourself caught up in a country and not speak the official language?</p>
            <p>We got your back!</p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-lg-4">
          <div class="single-service-area mb-80">
            <!-- Service Icon -->
            <div class="service-icon">
              <i class="icon_easel"></i>
            </div>
            <h5>Every Child Matters!</h5>
            <p>We offer a platform for reporting and managing child injustice cases. We help you find the right services
              to keep you on track!</p>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- ***** Services Area End ***** -->
  <div class="uza-cta-area section-padding-80-0">
    <div class="container">
      <div class="row align-items-center">
        <div id="stories" class="col-12 col-lg-8">
          <div class="cta-content mb-80">
            <h2>Success Stories</h2>
            <h6>Go on, Submit a Report</h6>
          </div>
        </div>

        <div class="col-10 col-lg-4">
          <div class="cta-content mb-100">
            <div class="call-now-btn">
              <a href="#"><span>Call us now:</span> (+234) 80235678</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clients-feedback-area section-padding-0-80 clearfix">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Testimonial Slides -->
          <div class="testimonial-slides owl-carousel owl-loaded owl-drag">

            <!-- Single Testimonial Slide -->


            <!-- Single Testimonial Slide -->


            <!-- Single Testimonial Slide -->


            <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-2664px, 0px, 0px); transition: all 1.5s ease 0s; width: 6216px;"><div class="owl-item cloned" style="width: 888px;"><div class="single-testimonial-slide d-flex align-items-center">
              <!-- Testimonial Thumbnail -->
              <div class="testimonial-thumbnail">
                <img src="../../../assets/img/bg-img/23.jpg" alt="">
              </div>
              <!-- Testimonial Content -->
              <div class="testimonial-content">
                <h4>“Justice4Kids ranking has gone up so much from the great work.We are happy that the results of your efforts were lasting and profitable.”</h4>
                <!-- Ratings -->
                <div class="ratings">
                  <i class="icon_star"></i>
                  <i class="icon_star"></i>
                  <i class="icon_star"></i>
                  <i class="icon_star"></i>
                  <i class="icon_star"></i>
                </div>
                <!-- Author Info -->
                <div class="author-info">
                  <h5>DOJH<span>- Justice4Kids Admin</span></h5>
                </div>
                <!-- Quote Icon -->
                <div class="quote-icon"><img src="../../../assets/img/core-img/curve-5.png" alt=""></div>
              </div>
            </div></div><div class="owl-item" style="width: 888px;"><div class="single-testimonial-slide d-flex align-items-center">
              <!-- Testimonial Thumbnail -->
              <div class="testimonial-thumbnail">
                <img src="../../../assets/img/bg-img/24.jpg" alt="">
              </div>
              <!-- Testimonial Content -->
              <div class="testimonial-content">
                <h4>“Justice4Kids ranking has gone up so much from the great work.We are happy that the results of your efforts were lasting and profitable.”</h4>
                <!-- Ratings -->
                <div class="ratings">
                  <i class="icon_star"></i>
                  <i class="icon_star"></i>
                  <i class="icon_star"></i>
                  <i class="icon_star"></i>
                  <i class="icon_star"></i>
                </div>
                <!-- Author Info -->
                <div class="author-info">
                  <h5>DOJH<span>Justice4Kids Admin</span></h5>
                </div>
                <!-- Quote Icon -->
                <div class="quote-icon"><img src="../../../assets/img/core-img/quote.png" alt=""></div>
              </div>
            </div></div><div class="owl-item" style="width: 888px;"><div class="single-testimonial-slide d-flex align-items-center">
              <!-- Testimonial Thumbnail -->
              <div class="testimonial-thumbnail">
                <img src="../../../assets/img/bg-img/7.jpg" alt="">
              </div>
              <!-- Testimonial Content -->
              <div class="testimonial-content">
                <h4> Justice4Kids ranking has gone up so much from the great work.We are happy that the results of your efforts were lasting and profitable.</h4>
                <!-- Ratings -->
                <div class="ratings">
                  <i class="icon_star"></i>
                  <i class="icon_star"></i>
                  <i class="icon_star"></i>
                  <i class="icon_star"></i>
                  <i class="icon_star"></i>
                </div>
                <!-- Author Info -->
                <div class="author-info">
                  <h5>DOJH <span> Justice4Kids Admin</span></h5>
                </div>
                <!-- Quote Icon -->
                <div class="quote-icon"><img src="../../../assets/img/core-img/quote.png" alt=""></div>
              </div>
            </div></div><div class="owl-item active" style="width: 888px;"><div class="single-testimonial-slide d-flex align-items-center">
              <!-- Testimonial Thumbnail -->
              <div class="testimonial-thumbnail">
                <img src="../../../assets/img/bg-img/23.jpg" alt="">
              </div>
              <!-- Testimonial Content -->
              <div class="testimonial-content">
                <h4>Justice4Kids ranking has gone up so much from the great work.We are happy that the results of your efforts were lasting and profitable.</h4>
                <!-- Ratings -->
                <div class="ratings">
                  <i class="icon_star"></i>
                  <i class="icon_star"></i>
                  <i class="icon_star"></i>
                  <i class="icon_star"></i>
                  <i class="icon_star"></i>
                </div>
                <!-- Author Info -->
                <div class="author-info">
                  <h5>DOJH <span> Justice4Kids Admin</span></h5>
                </div>
                <!-- Quote Icon -->
                <div class="quote-icon"><img src="../../../assets/img/core-img/quote.png" alt=""></div>
              </div>
            </div></div><div class="owl-item" style="width: 888px;"><div class="single-testimonial-slide d-flex align-items-center">
              <!-- Testimonial Thumbnail -->
              <div class="testimonial-thumbnail">
                <img src="../../../assets/img/bg-img/24.jpg" alt="">
              </div>
              <!-- Testimonial Content -->
              <div class="testimonial-content">
                <h4>“Justice4Kids ranking has gone up so much from the great work.We are happy that the results of your efforts were lasting and profitable.”</h4>
                <!-- Ratings -->
                <div class="ratings">
                  <i class="icon_star"></i>
                  <i class="icon_star"></i>
                  <i class="icon_star"></i>
                  <i class="icon_star"></i>
                  <i class="icon_star"></i>
                </div>
                <!-- Author Info -->
                <div class="author-info">
                  <h5>DOJH <span>Justice4Kids Admin</span></h5>
                </div>
                <!-- Quote Icon -->
                <div class="quote-icon"><img src="../../../assets/img/core-img/quote.png" alt=""></div>
              </div>
            </div></div><div class="owl-item cloned" style="width: 888px;"><div class="single-testimonial-slide d-flex align-items-center">
              <!-- Testimonial Thumbnail -->
              <div class="testimonial-thumbnail">
                <img src="../../../assets/img/bg-img/7.jpg" alt="">
              </div>
              <!-- Testimonial Content -->
              <div class="testimonial-content">
                <h4>“Justice4Kids ranking has gone up so much from the great work.We are happy that the results of your efforts were lasting and profitable.”</h4>
                <!-- Ratings -->
                <div class="ratings">
                  <i class="icon_star"></i>
                  <i class="icon_star"></i>
                  <i class="icon_star"></i>
                  <i class="icon_star"></i>
                  <i class="icon_star"></i>
                </div>
                <!-- Author Info -->
                <div class="author-info">
                  <h5>DOJH <span>Justice4Kids Admin</span></h5>
                </div>
                <!-- Quote Icon -->
                <div class="quote-icon"><img src="../../../assets/img/core-img/quote.png" alt=""></div>
              </div>
            </div></div><div class="owl-item cloned" style="width: 888px;"><div class="single-testimonial-slide d-flex align-items-center">
              <!-- Testimonial Thumbnail -->
              <div class="testimonial-thumbnail">
                <img src="../../../assets/img/bg-img/23.jpg" alt="">
              </div>
              <!-- Testimonial Content -->
              <div class="testimonial-content">
                <h4>Justice4Kids ranking has gone up so much from the great work.We are happy that the results of your efforts were lasting and profitable.</h4>
                <!-- Ratings -->
                <div class="ratings">
                  <i class="icon_star"></i>
                  <i class="icon_star"></i>
                  <i class="icon_star"></i>
                  <i class="icon_star"></i>
                  <i class="icon_star"></i>
                </div>
                <!-- Author Info -->
                <div class="author-info">
                  <h5>DOJH<span>Justice4Kids Admins</span></h5>
                </div>
                <!-- Quote Icon -->
                <div class="quote-icon"><img src="../../../assets/img/core-img/quote.png" alt=""></div>
              </div>
            </div></div></div></div><div class="owl-nav"><div class="owl-prev"><i class="arrow_carrot-left"></i></div><div class="owl-next"><i class="arrow_carrot-right"></i></div></div><div class="owl-dots"><div class="owl-dot"><span></span></div><div class="owl-dot active"><span></span></div><div class="owl-dot"><span></span></div></div></div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="footer-area section-padding-80-0">
  <div class="container">
    <div class="row justify-content-between">

      <!-- Single Footer Widget -->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="single-footer-widget mb-80">
          <!-- Widget Title -->
          <h4 class="widget-title">Contact Us</h4>

          <!-- Footer Content -->
          <div class="footer-content mb-15">
            <h3>(+234) 8023 5678</h3>
            <p>Four Points, Lekki, Nigeria<br>justice4kids@gmail.com</p>
          </div>
        </div>
      </div>

      <!-- Single Footer Widget -->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="single-footer-widget mb-80">
          <!-- Widget Title -->
          <h4 class="widget-title">Quick Link</h4>

          <!-- Nav -->
          <nav>
            <ul class="our-link">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Donate</a></li>
              <li><a href="javascript:void(0)" routerLink="/register">Advocate Registration</a></li>
              <li><a href="javascript:void(0)" routerLink="/login">Advocate Sign In</a></li>
            </ul>
          </nav>
        </div>
      </div>

      <!-- Single Footer Widget -->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="single-footer-widget mb-80">
          <!-- Widget Title -->
          <h4 class="widget-title">Resources</h4>

          <!-- Nav -->
          <nav>
            <ul class="our-link">
              <li><a href="#">Customer Support</a></li>
              <li><a href="#">Privacy</a></li>
              <li><a href="#">Media &amp; Press</a></li>
              <li><a href="#">Our Team</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>

      <!-- Single Footer Widget -->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="single-footer-widget mb-80">
          <!-- Widget Title -->
          <h4 class="widget-title">About Us</h4>
          <p>We offer a platform for reporting and managing child injustice cases. We help you find the right services to keep you on track!</p>

          <!-- Copywrite Text -->
          <div class="copywrite-text mb-30">
            <p>© Copyright 2019 <a href="#">Justice4Kids</a>.</p>
          </div>

          <!-- Social Info -->
          <div class="footer-social-info">
            <a href="#" class="facebook" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="twitter" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="pinterest" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest"><i class="fa fa-pinterest"></i></a>
            <a href="#" class="instagram" data-toggle="tooltip" data-placement="top" title="" data-original-title="Instagram"><i class="fa fa-instagram"></i></a>
            <a href="#" class="youtube" data-toggle="tooltip" data-placement="top" title="" data-original-title="YouTube"><i class="fa fa-youtube-play"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
